<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Reporte de Automatización XML para el banco BCP {% endblock %}</title>
    <link rel="icon" type="image/png" href="https://prod.cds.pagoefectivo.g3c.pe/img/general/pagoefectivo-footer.png?v=izja5u0zbo8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">        
    <style type="text/css">
        body > .ui.container {
          margin-top: 5em;
        }
        .ui.container > h1 {
          font-size: 3em;
          text-align: center;
          font-weight: normal;
          margin: 2em 0em 1em;
        }
        .ui.container > h2.dividing.header {
          font-size: 2em;
          font-weight: normal;
          margin: 4em 0em 3em;
        }
    
        .ui.table {
          table-layout: fixed;
        }

        .btn1 {
            background-color: rgba(235, 235, 235, 0.986);
            border: none;
            color: rgb(75, 72, 72);
            padding: 8px 16px;
            text-align: center;
            font-size: 16px;
            margin: 4px 2px;
            transition: 0.3s;
        }

        .btn1:hover {
            background-color: #3e8e41;
            color: white;        
        }

        .btn1 {border-radius: 12px;}
    </style>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="ui container">
        <div class="ui top fixed menu">
          <div class="item">
            <img class="ui image small" src="https://prod.cds.pagoefectivo.g3c.pe/img/general/pagoefectivo-logo.png">
          </div>
        </div>
        <div class="ui container">
            {% block content %}{% endblock %}
        </div>
        <div>
            <p>
            </br>
            </br>
            </br>
            </p>
        </div>     
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">  
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
        $('#tblData2').DataTable(
            {
            "language": {
                "emptyTable":"No se encontraron datos disponibles en la tabla",
                "info":"Mostrando páginas _PAGE_ de _PAGES_",
                "infoEmpty":"No hay registros disponibles",
                "infoFiltered":"(filtrados de _MAX_ registros totales)",
                "loadingRecords":"Cargando...",
                "processing":"Procesando...",
                "search":"Buscar:",
                "zeroRecords":"No se encontraron coincidencias",
                "lengthMenu":"Mostrar _MENU_ registros por página",
                "paginate": {
                    "first":"Primero",
                    "last":"Ùltimo",
                    "next":"Siguiente",
                    "previous":"Anterior"}
            }}
        );
        } );
    </script>
    <script type="text/javascript">
      function CopyToClipboard(id){
        var _title = document.getElementById(id).getElementsByClassName('header')[0].innerHTML;
        var _html = document.getElementById(id).getElementsByTagName('pre')[0].innerHTML;
        const el = document.createElement('textarea');
        el.value = _title + ":" + "\n" + _html;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
      };
    </script>
    <script type="text/javascript">
      function exportTableToExcel(tableID, filename = ''){
          var downloadLink;
          var dataType = 'application/vnd.ms-excel';
          var tableSelect = document.getElementById(tableID);         
          var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
          
          // Specify file name
          filename = filename?filename+'.xls':'bcpintxml.xls';
          
          // Create download link element
          downloadLink = document.createElement("a");
          
          document.body.appendChild(downloadLink);
          
          if(navigator.msSaveOrOpenBlob){
              var blob = new Blob(['\ufeff', tableHTML], {
                  type: dataType
              });
              navigator.msSaveOrOpenBlob( blob, filename);
          }else{
              // Create a link to the file
              downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
          
              // Setting the file name
              downloadLink.download = filename;
              
              //triggering the function
              downloadLink.click();
          }
      }
    </script>
</body>
</html>
