{% extends "base.html" %}
{% block content %}
    
    <h1 class="title">Informe de Ejecución de los Microservicios BCP</h1>
        
    <table id="tblData1" class="ui definition table">
        <tbody>
            <tr>
                <td class="three wide column">Operación</td>
                <td>{{ data.operation }}</td>
            </tr>
            <tr>
                <td>Inicio de prueba</td>
                <td>{{ data.fechaini }}</td>
            </tr>
            <tr>
                <td>Fin de prueba</td>
                <td>{{ data.fechafin }}</td> 
            </tr>
            <tr> 
                <td>Duración</td>
                <td>{{ data.duracion }}</td> 
            </tr>
            <tr>
                <td>Total casos</td>                
                <td>{{ data.tcasos }}</td>   
            </tr>
            <tr>                        
                <td>Casos correctos</td>
                <td>{{ data.tcorrectos }}</td>  
            </tr>
            <tr>                   
                <td >Casos incorrectos</td>
                <td>{{ data.tincorrectos }}</td>   
            </tr>
            <tr>                    
                <td class="three wide column">Servicio(s)</td>
                <td>{{ data.endpoint }}</td>
            </tr>
        </tbody>
    </table>

    <div align="left">
            <button id="btnExcel" class="btn1" onclick="exportTableToExcel('tblData3')">Exportar</button>
            <button id="btnImprimir" class="btn1"  onclick="window.print();">Imprimir</button>      
    </div>
    <br></br>
    <table id="tblData2" class="ui celled structured table"">
        <thead>
            <tr>
            <th class="center aligned">Nro</th>
            <th class="center aligned six wide">Casos de prueba</th>
            <th class="center aligned">CIP</th>
            <th class="center aligned">Modalidad</th>
            <th class="center aligned">Data de entrada</th>
            <th class="center aligned">Data de salida</th>                   
            <th class="center aligned">Resultado</th>
            </tr>
        </thead>
        <tbody>        
        {% for result in data.results %}
            <tr>
                <td class="center aligned">{{ loop.index }}</td>
                <td >{{ result.casoprueba }}</td>
                <td >{{ result.cip }}</td>  
                <td >{{ result.modalidad }}</td> 
                <td class="center aligned">
                    <button class="ui icon button" onclick="$('#{{ result.request.id }}').modal('show');">
                            <i class="file icon"></i>
                    </button>
                </td>
                <td class="center aligned">
                    <button class="ui icon button" onclick="$('#{{ result.response.id }}').modal('show');">
                        <i class="file icon"></i>
                    </button>
                </td>              
                <td class="center aligned">
                    {% if result.sinerror %}
                        <div class="ui green horizontal label">Satisfactorio</div>                        
                    {% else %}
                        <div class="ui red horizontal label">Error</div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  
    <div id="detalle" style="display: none">   
        <table id="tblData3" class="ui celled structured table">
            <thead>
                <tr>
                <th class="center aligned">NRO</th>
                <!-- DATOS DE CABECERA -->
                <th class="center aligned">IDIOMA</th>
                <!-- GENERACIÓN DE CIP     -->
                <th class="center aligned">CIP</th>
                <th class="center aligned">MODALIDAD</th>
                <th class="center aligned">CODIGO DE CONVENIO</th>
                <th class="center aligned">MONEDA</th>
                <th class="center aligned">MONTO</th>
                <th class="center aligned">TIEMPO LIMITE MIN CIP</th>
                <!-- OPERACIÓN CON BANCO -->
                <th class="center aligned">OPERACION</th>
                <th class="center aligned">ETIQUETA</th>
                <th class="center aligned">TIPO_PRUEBA</th>
                <th class="center aligned">CANAL</th>
                <th class="center aligned">VALOR_INGRESADO</th>
                <th class="center aligned">FECHA</th>
                <!-- RESULTADO DEL TEST-->
                <th class="center aligned">RESULTADO_TEST</th>
                <th class="center aligned">OBSERVACION</th>
                <!-- RESULTADO WS -->
                <!-- <th class="center aligned">CODIGO_RESPONSE</th>
                <th class="center aligned">MENSAJE_RESPONSE</th>-->
                <th class="center aligned">CODIGO ESPERADO</th>
                <th class="center aligned">CODIGO DEVUELTO</th>
                <th class="center aligned">DESCRIPCION CODIGO DEVUELTO</th>
                <!-- SERVICIO NOTIFICACION (PENDIENTE) -->
                <!-- XML -->
                <th class="center aligned">Data de entrada</th>
                <th class="center aligned">Data de salida</th>
                </tr>            
            </thead>
            <tbody>        
            {% for result in data.results %}
                <tr>
                    <td class="center aligned">{{ loop.index }}</td>
                    <!-- DATOS DE CABECERA -->
                    <td >{{ result.idioma }}</td>
                    <!-- GENERACIÓN DE CIP     -->
                    <td >{{ result.cip }}</td>  
                    <td >{{ result.modalidad }}</td> 
                    <td >{{ result.servicio }}</td>  
                    <td >{{ result.moneda }}</td> 
                    <td >{{ result.monto }}</td>
                    <td >{{ result.limite }}</td>
                    <!-- OPERACIÓN CON BANCO -->
                    <td >{{ result.operacion }}</td> 
                    <td >{{ result.etiqueta }}</td> 
                    <td >{{ result.tipodeprueba }}</td> 
                    <td >{{ result.canal }}</td> 
                    <td >{{ result.valoringresado }}</td> 
                    <td >{{ result.fecha }}</td>                 
                    <!-- RESULTADO DEL TEST-->
                    <td class="center aligned">
                            {% if result.sinerror %}
                                <div class="ui green horizontal label">Satisfactorio</div>                        
                            {% else %}
                                <div class="ui red horizontal label">Error</div>
                            {% endif %}
                    </td>
                    <td >{{ result.observacion }}</td> 
                    <!-- RESULTADO WS -->
                    <!-- <td >{{ result.codigoresponse }}</td> 
                    <td >{{ result.mensajeresponse }}</td>  -->
                    <td >{{ result.codigoesp }}</td> 
                    <td >{{ result.codigows }}</td> 
                    <td >{{ result.descodigows }}</td> 
                    <!-- SERVICIO NOTIFICACION (PENDIENTE) -->
                    <!-- XML -->
                    <td >{{ result.request.payload }}</td> 
                    <td >{{ result.response.payload }}</td>                                      
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% for result in data.results %}
        {% include "modal_request.html" ignore missing with context %}
        {% include "modal_response.html" ignore missing with context %}
    {% endfor %}

{% endblock %}
